body {
    background-color: silver;
    font-family: "Comic Sans MS", cursive, sans-serif;
}

.container {
    display: flex;
    justify-content: space-between;
}

.intro {
    width: 45%;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: black;
}

.generator {
    width: 50%;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: black;
    font-family: "Comic Sans MS", cursive, sans-serif;
}

.button {
    font-family: "Comic Sans MS", cursive, sans-serif;
}

.input {
    font-family: "Comic Sans MS", cursive, sans-serif;
}
