body {
    background-color: #f0f0f0;
    font-family: "Comic Sans MS", cursive, sans-serif;
}

.container {
    display: flex;
    justify-content: space-between;
}

.intro {
    width: 45%;
    padding: 30px;
    background-color: silver;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: black;
}

.generator {
    width: 50%;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: black;
}

.generator input[type="number"],
.generator button {
    font-family: "Comic Sans MS", cursive, sans-serif;
    color: black;
}

.tab-buttons {
    text-align: center;
    margin-bottom: 20px;
}

.tab-button {
    padding: 10px 20px;
    margin: 0 5px;
    border: none;
    background-color: silver;
    cursor: pointer;
    border-radius: 5px;
    font-family: "Comic Sans MS", cursive, sans-serif;
}

.tab-button.active {
    background-color: white;
}

.container {
    background-color: silver;
    padding: 20px;
    border-radius: 10px;
}
